/*  Creates the styling for the streamlit app in app.py */


.auth-url:link { 
    color: #FFFFFF;
    text-decoration: none; 
    display: block;
  } 

.auth-url:visited { 
    color: #FFFFFF;
    text-decoration: none; 
    display: block;
  } 

.auth-url:hover { 
    color: #FFFFFF;
    text-decoration: none; 
    display: block;
  } 

.auth-url:active { 
    color: #FFFFFF;
    text-decoration: none; 
    display: block;
  }
  
.auth-url {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
}

.spotify-btn {
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.spotify-btn i {
    color: #FFFFFF;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF; 
    padding: 10px 0; 
    text-align: center;
    color: #6c757d; 
    font-size: 10px;
    text-decoration: none;
}


footer a:link { 
    color: #6c757d;
    text-decoration: none; 
  } 

footer a:visited { 
    color: #6c757d;
    text-decoration: none; 
  } 

footer a:hover { 
    color: #6c757d;
    text-decoration: none; 
  } 

footer a:active { 
    color: #6c757d;
    text-decoration: none; 
  }
  

footer a {
    text-decoration: none;
    color: #6c757d;
}
